.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
}

.imgrwd {
  max-width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  clear: both;
}

// *******************
// body
// *******************
body {
  background: url(../images/bodybg3.png)repeat-x center 50px, url(../images/bodybg2.png)no-repeat center 70px, url(../images/bodybg1.jpg) repeat center;
  background-size: auto, contain, auto;
}

@media (max-width: 768px) {
  body {
    background-size: 10%, contain, auto;
  }
}

// *******************
// kv
// *******************
.hero {
  height: 0;
  padding-bottom: 35.55%;
  background: url(../images/hero.png)no-repeat top center;
  background-size: cover;
  margin: 0 auto;
}

// *******************
// 紅包
// *******************
.redmail {
  max-width: 1125px;
  margin: 0 auto;

  .bg {
    width: 100%;
    height: 0;
    padding-bottom: 91.55%;
    background: url(../images/redbg.png)no-repeat top center;
    background-size: cover;

    .word {
      text-align: center;
      color: #f4bf66;
      font-size: 30px;
      text-shadow: 2px 2px 2px #481b03;
    }
  }


}

.actionbt {
  width: 40%;
  max-width: 800px;
  text-align: center;
  padding-top: 30%;
  margin: 0 auto;
  cursor: pointer;


  .gif {
    /*----物件需要顯示的寬高 ----*/
    height: 0;
    padding-bottom: 68.42%;
    background: url(../images/actionbt.png)no-repeat;
    background-size: cover;
    position: relative;
    animation-name: FpsRwd;
    /*----播放時間----*/
    animation-duration: 1s;
    /*----影格數----*/
    animation-timing-function: steps(5, end);
    /*----播放次數 ----*/
    animation-iteration-count: infinite;
    /*----background-size 的寬度值設為 N影格 ×100% ----*/
    background-size: 500%;
  }

  @keyframes FpsRwd {
    0% {
      background-position: left top;
    }

    100% {
      /*----background-position 的結束位置為 100% + (100 ÷(N - 1))% ----*/
      background-position: 125% top;
    }
  }
}



@media (max-width: 767px) {
  .redmail {
    .bg {
      padding-bottom: 121.11%;
      background-size: 130%;

      .word {
        font-size: 20px;
      }
    }
  }

  .actionbt {
    width: 50%;
    padding-top: 35%;
  }
}

@media (max-width: 375px) {
  .redmail {
    .bg {

      .word {
        font-size: 18px;
      }
    }
  }

}

// *******************
// 簽到
// *******************
.progress-tracker {
  width: 60%;
  display: flex;
  margin: 18% auto 60px;
  padding: 0;
  list-style: none;
}



.progress-tracker--border {
  padding: 4px;
  background: #2c1700;
  border-radius: 32px;
}

.progress-step {

  flex: 1 1 0%;
  margin: 0;
  padding: 0;
  min-width: 10px;

}

.progress-step:last-child {
  flex-grow: 0;
}


.progress-marker {
  display: block;
  position: relative;

  .days {
    width: 120px;
    height: 120px;
    background: #fff;
    position: absolute;
    top: -130px;
    left: calc(5px - 120px/2);
  }

  .day1 {
    background: url(../images/day1.png)no-repeat;
    background-size: cover;
  }

  .day7 {
    background: url(../images/day7.png)no-repeat;
    background-size: cover;
  }

  .day14 {
    background: url(../images/day14.png)no-repeat;
    background-size: cover;
  }

  .day21 {
    background: url(../images/day21.png)no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .progress-tracker {
    width: 80%;

  }

  .progress-marker {
    .days {
      width: 100px;
      height: 100px;
      top: -100px;
      left: calc(5px - 100px/2);
    }
  }
}

@media (max-width: 414px) {
  .progress-tracker {
    width: 84%;
    margin: 20% auto 60px;
  }

  .progress-marker {
    .days {
      width: 60px;
      height: 60px;
      top: -64px;
      left: calc(5px - 60px/2);
    }
  }
}

.progress-marker::before {
  content: "";
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
  width: 8px;
  height: 8px;
  padding-bottom: 2px;
  border-radius: 50%;
  transition: background-color, border-color;
  transition-duration: 0.3s;
}


.progress-step .progress-marker::before {
  background-color: #815c17;
}

.progress-step.is-complete .progress-marker::before,
.progress-step.is-progress .progress-marker::before {
  background-color: #fad28d;
  box-shadow: 1px 1px 0px 0px #352001;
}

.progress-step.is-complete .progress-marker .day7 {
  background: url(../images/day7_complete.png)no-repeat;
  background-size: cover;
}

.progress-step.is-complete .progress-marker .day14 {
  background: url(../images/day14_complete.png)no-repeat;
  background-size: cover;
}

.progress-step.is-complete .progress-marker .day21 {
  background: url(../images/day21_complete.png)no-repeat;
  background-size: cover;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;

  .content {
    max-width: 600px;
    margin: 30px auto 0;
    padding: 12px;
    position: relative;

  }

  .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: url(../images/closeBtn.png)no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 999;
  }

}

.awards {
  height: 0;
  padding-bottom: 100%;
  background: url(../images/awardsbg.png)no-repeat;
  background-size: cover;


  .inner {
    text-align: center;
    padding: 36px;

    h3 {
      color: #fff;
      font-size: 24px;
      margin-top: 30px;
    }

    h1 {
      color: #f4bf66;
      font-size: 40px;
    }

    .word {
      position: relative;
      display: inline-block;
      padding: 0 55px;
      color: #f4bf66;
      font-size: 24px;

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 1px;
        background-color: #f4bf66;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

  }
}


@media (max-width: 640px) {
  .lightbox {

    .content {
      margin: 50px auto 0;
    }

  }

  .awards {
    .inner {

      h3 {
        font-size: 16px;
        margin-top: 4px;
      }

      h1 {
        font-size: 24px;
      }

      .word {
        font-size: 16px;
      }

    }
  }
}

.btn-event {
  width: 80%;
  font-size: 18px;
  display: block;
  padding: 0.4em 1em;
  margin: 20px auto;
  text-decoration: none;
  background: linear-gradient(#f4bf66, #d8a54e);
  color: #751111;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 4px #f4bf66;
  border: solid 1px #FFF;
}

.btn-event:hover {
  background: linear-gradient(#f8ce86, #e9ba69);
}

// *******************
// 煙火css
// *******************
.pyro>.before,
.pyro>.after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
  to {
    box-shadow: 96px -176.6666666667px #48ff00, -11px -396.6666666667px #0004ff, 208px -194.6666666667px #b3ff00, -97px -304.6666666667px #ff00d0, 17px 78.3333333333px #bbff00, -15px -167.6666666667px #15ff00, -40px -371.6666666667px #dd00ff, 200px -387.6666666667px #00e6ff, 13px -264.6666666667px #ff9100, 238px 24.3333333333px #aaff00, -51px 66.3333333333px #4dff00, 152px -225.6666666667px #ff7b00, -103px -371.6666666667px #0095ff, 183px -361.6666666667px #ff0900, -247px 48.3333333333px #1100ff, 90px 38.3333333333px #91ff00, -40px -94.6666666667px #2fff00, -14px -13.6666666667px #6a00ff, -213px -380.6666666667px #ff00ae, 106px -356.6666666667px #4800ff, -21px -108.6666666667px #ee00ff, -76px -218.6666666667px #00fffb, 216px -390.6666666667px #00ffd0, -234px -187.6666666667px #0099ff, -208px -317.6666666667px #ffee00, -187px -215.6666666667px #ff0015, -207px -374.6666666667px #ff004d, 62px -187.6666666667px #0022ff, 22px -298.6666666667px #ff0099, 157px -90.6666666667px #00ff3c, 32px -317.6666666667px #15ff00, 175px -152.6666666667px #ff7300, -232px -29.6666666667px #51ff00, 203px 22.3333333333px #ff7700, 116px 67.3333333333px #ffd500, 143px -393.6666666667px #ffaa00, 70px 79.3333333333px #d5ff00, -2px -203.6666666667px #ff1500, 188px -329.6666666667px #00c8ff, -42px -338.6666666667px #00fff7, 52px -115.6666666667px #2b00ff, 102px -28.6666666667px #ff9900, -6px -121.6666666667px #00ffa2, 142px -189.6666666667px #ffbb00, 219px -170.6666666667px #ff0091, 164px -376.6666666667px #bbff00, -81px -128.6666666667px #005eff, 29px 28.3333333333px #00ffe1, 26px -129.6666666667px #00ff26, -4px -265.6666666667px #ff7300, -180px -342.6666666667px #9500ff;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);

    opacity: 0;
  }
}

@keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

// *******************
// 特價商品
// *******************
.salebox {
  position: relative;
  background: #fd322b;
  box-shadow: 0px 0px 0px 5px #fd322b;
  border: solid 4px #b00b06;
  padding: 70px 0.5em 0.5em;
  border-radius: 8px;
  margin-top: 60px;

  .saletitle {
    width: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
  }
}

@media (max-width: 640px) {
  .salebox {
    margin-top: 30px;
    padding: 24px 0.5em 0.5em;

    .saletitle {
      width: 70%;
    }
  }
}

.directions {
  color: #fff;
  list-style-position: inside;
  margin-bottom: 20px;

  h3 {
    color: #fff;
    font-size: 20px;
  }

  li {
    margin-left: 24px;
    list-style-type: decimal;

  }
}

.word {
  color: #fff;
  margin: 10px 0 20px;
}

.gTitle {
  max-width: 140px;
  margin: 20px auto 4px;

  img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 640px) {
  .gTitle {
    max-width: 240px;
    margin: 20px auto 12px;

  }
}